* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

nav {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
}

#open {
    width: 200px;
    height: 50px;
    background-color: rgb(15, 140, 229);
    border: none;
    border-radius: 10px;
    color: wheat;
    font-size: 22px;
}

.students {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;


}


form {
    width: 400px;
    height: 500px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    position: fixed;
    position: absolute;
    top: 300px;
    /* transition: 0.5s; */
    /* transform: translateY(-650px); */


}

form span{
font-family: sans-serif;
font-size: 18px;
}

form input {
    width: 300px;
    height: 40px;
    text-align: center;
    outline: none;
    font-size: 20px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btns button {
    width: 130px;
    height: 40px;
    border-radius: 15px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.btn3 {
    width: 70px;
    background-color: rgb(243, 193, 56);
    border: none;

}

.btn3:active {
    background-color: rgb(129, 95, 27);
}

.btn2 {
    width: 70px;
    background-color: rgb(243, 193, 56);
    border: none;

}

.btn2:active {
    background-color: rgb(129, 95, 27);
}

.trouble {
    width: 200px;
}